### Tareas: Análisis Descriptivo del Inventario Consolidado

**Descripción:**

#### Objetivo:
Realizar un análisis descriptivo detallado del archivo consolidado de inventario de joyería para obtener información valiosa sobre los proveedores, costos, precios de venta al público y distribución de tipos de joya.

#### Tareas:

1. **Análisis de Proveedores:**
   - Contar la cantidad de ítems que tiene cada proveedor.

2. **Proveedores con Mayor Valor de Compra:**
   - Identificar al proveedor al que más se le ha comprado en dólares utilizando la columna `costo`.

3. **Distribución de Costos y Precios de Venta al Público:**
   - Generar un histograma para visualizar la distribución de los costos y los precios de venta al público (PVP) de las joyas de acero y plata.

4. **Estadísticas Descriptivas por Tipo de Joya y Categoría:**
   - Calcular el mínimo, Q25, mediana, Q75 y máximo de cada tipo de joya (`source`) por cada categoría (`plata` y `acero`).

5. **Tipo de Joya más Común por Material:**
   - Identificar el tipo de joya (anillos, pulseras, etc.) más común para cada material (`plata` y `acero`).

6. **Análisis de Proporción de Inventario por Material:**
   - Calcular la proporción del inventario total que corresponde a `plata` y `acero`.

7. **Análisis de Proporción de Inventario por Tipo de Joya:**
   - Calcular la proporción de cada tipo de joya (anillos, pulseras, cadenas, etc.) en el inventario total.

8. **Análisis de Costo Promedio por Tipo de Joya y Categoría:**
   - Calcular el costo promedio por cada tipo de joya (`source`) y categoría (`plata` y `acero`).

9. **Comparación de Márgenes de Ganancia:**
   - Comparar los márgenes de ganancia entre las joyas de `plata` y `acero` calculando la diferencia entre el `costo` y el `PVP`.

10. **Análisis de Tendencias Temporales (si aplica):**
    - Si se dispone de datos temporales, analizar las tendencias de compra y venta de joyas a lo largo del tiempo.

11. **Identificación de Outliers en Costos y PVP:**
    - Utilizar métodos estadísticos para identificar valores atípicos en los costos y precios de venta al público.

12. **Correlación entre Variables de Costo y PVP:**
    - Analizar la correlación entre el `costo` y el `PVP` para entender la relación entre estas variables.

13. **Segmentación de Proveedores por Volumen de Venta:**
    - Segmentar a los proveedores según el volumen de venta para identificar a los principales proveedores.

**Responsable:** Esteban Marín

**Fecha de Entrega:** Miércoles 7 de agosto de 2024.

**Notas Adicionales:**
Documentar todos los análisis realizados y sus resultados en el notebook de Jupyter para futuras referencias y toma de decisiones estratégicas.

1. **Análisis de Proveedores:**
   - Contar la cantidad de ítems que tiene cada proveedor.

In [3]:
import pandas as pd
filepath_clean = "data/clean_files/all_clean_inventory.xlsx"

clean_inventory = pd.read_excel(filepath_clean)

In [26]:

total_items = clean_inventory.groupby('proveedor')['count_items'].sum()

total_items_df = total_items.reset_index()

total_items_df.columns = ['Proveedor', 'Total_Items']

total_items = total_items_df.sort_values("Total_Items", ascending= False)

print(total_items)

                  Proveedor  Total_Items
13                   CIRKON         2500
35            SOLEDAD SAENZ         2495
38                     VOGA         1306
14          FABIAN CARVAJAL          734
15            FABIAN GUZMAN          712
2             ALPHA TRADING          621
3            ANDRES CADAVID          610
43                  ZULENIS          551
30                      P&K          461
26                   LX USA          418
6               BODY JEWELZ          327
40           XAVIER GUILLEN          315
1                 ALINA PAZ          286
17              FLAVIO JARA          265
0               ALEX CASTRO          232
18             FREDY VARGAS          223
28              MILANUS USA          220
4          ANGELICA ANRANGO          210
21        IMPORTADORA NUÑEZ          198
36                      USA          174
12                    CHINA          173
20        IMPORTADORA MALES          145
16            FERNANDO JARA          119
22      IMPORTADORA PADILLA           62
31            PALACIO JOYAS           45
5          ANTONIO CALASANZ           42
9         CECILIA CACHIMUEL           42
24              JUAN CHALCO           40
41                   XUPING           31
7           CASA DEL INSUMO           28
27                    MIAMI           24
29           OTAVALO CENTRO           24
42         ZAFIRO CHORDELEG           23
34              SEMPERTEGUI           23
11                   CENTRO           16
19          GUILLERMO PARRA           10
33                 RIOBAMBA            7
25                      KEN            5
23  JOYERIA MARTHITA CHORDE            4
32                   PANAMA            3
10       CECILIA CHACHIMUEL            2
8       CASA DEL SUMINISTRO            2
37                  VENEZIA            2
39            XAVIER CASTRO            1

determinar que item es el mas comprado a cada proveedor

In [35]:

item_type = clean_inventory.groupby(['proveedor','tipo'])["count_items"].sum().reset_index().sort_values("count_items",ascending= False)

item_type

           proveedor      tipo  count_items
41            CIRKON     dijes         1172
95     SOLEDAD SAENZ    aretes         1032
38            CIRKON    aretes          784
44   FABIAN CARVAJAL    aretes          647
120          ZULENIS  pulseras          551
..               ...       ...          ...
58       FLAVIO JARA     dijes            2
5          ALINA PAZ    juegos            1
109             VOGA     dijes            1
112    XAVIER CASTRO   anillos            1
113   XAVIER GUILLEN   anillos            1

[121 rows x 3 columns]

2. **Proveedores con Mayor Valor de Compra:**
   - Identificar al proveedor al que más se le ha comprado en dólares utilizando la columna `costo`.

In [43]:
compra_total_proveedor = clean_inventory.groupby(["proveedor"])["costo"].sum()
compra_total_proveedor.sort_values(ascending=False)

proveedor
SOLEDAD SAENZ              7283.6000
CIRKON                     6241.2030
VOGA                       4574.2005
ALPHA TRADING              2056.5600
ANDRES CADAVID             1949.5500
XAVIER GUILLEN             1902.8210
FLAVIO JARA                 921.5800
FABIAN CARVAJAL             776.5500
LX USA                      761.9300
ALINA PAZ                   668.9700
CHINA                       448.9100
USA                         419.5610
P&K                         322.4450
FABIAN GUZMAN               319.9400
JUAN CHALCO                 299.3500
MILANUS USA                 251.6570
ALEX CASTRO                 205.6300
RIOBAMBA                    137.7600
FERNANDO JARA               101.2100
BODY JEWELZ                  87.4000
FREDY VARGAS                 74.8500
ZULENIS                      70.5000
CECILIA CACHIMUEL            70.0000
MIAMI                        66.0120
ZAFIRO CHORDELEG             51.6000
IMPORTADORA MALES            49.3500
GUILLERMO PARRA              40.0000
IMPORTADORA PADILLA          23.6000
ANGELICA ANRANGO             22.9800
CASA DEL INSUMO              18.2200
SEMPERTEGUI                  16.0400
KEN                          15.0000
XAVIER CASTRO                15.0000
CECILIA CHACHIMUEL           13.0000
VENEZIA                      12.0000
CENTRO                       10.0000
JOYERIA MARTHITA CHORDE       8.0000
IMPORTADORA NUÑEZ             6.3600
PALACIO JOYAS                 5.5800
CASA DEL SUMINISTRO           3.8000
PANAMA                        3.8000
ANTONIO CALASANZ              3.0000
XUPING                        1.9000
OTAVALO CENTRO                0.7000
Name: costo, dtype: float64


3. **Distribución de Costos y Precios de Venta al Público:**
   - Generar un histograma para visualizar la distribución de los costos y los precios de venta al público (PVP) de las joyas de acero y plata.

In [44]:
import seaborn as sns
import matplotlib.pyplot as plt

4. **Estadísticas Descriptivas por Tipo de Joya y Categoría:**
   - Calcular el mínimo, Q25, mediana, Q75 y máximo de cada tipo de joya (`source`) por cada categoría (`plata` y `acero`).

5. **Tipo de Joya más Común por Material:**
   - Identificar el tipo de joya (anillos, pulseras, etc.) más común para cada material (`plata` y `acero`).

In [52]:
tipo_joya = clean_inventory.groupby("tipo")["CATEGORY"].value_counts().sort_values(ascending=False)
tipo_joya

tipo      CATEGORY
dijes     plata       816
aretes    plata       735
anillos   plata       583
aretes    acero       454
juegos    plata       247
pulseras  plata       225
cadenas   plata       180
pulseras  acero       153
juegos    acero       109
collares  plata        87
          acero        64
dijes     acero        55
cadenas   acero        48
anillos   acero        48
varios    plata        10
          acero         4
Name: count, dtype: int64

8. **Análisis de Costo Promedio por Tipo de Joya y Categoría:**
   - Calcular el costo promedio por cada tipo de joya (`source`) y categoría (`plata` y `acero`).

In [63]:
costo_promedio_joya= pd.DataFrame(clean_inventory.groupby(["tipo", "CATEGORY"])["costo"].mean().sort_values(ascending=False))
costo_promedio_joya_df = costo_promedio_joya.reset_index()
costo_promedio_joya_df

        tipo CATEGORY      costo
0     varios    plata  18.706000
1   collares    plata  14.416839
2   pulseras    plata  13.754662
3     juegos    plata  13.289109
4    cadenas    plata  10.267664
5    anillos    plata   9.904134
6     aretes    plata   7.660230
7     juegos    acero   7.551835
8      dijes    plata   6.490719
9   collares    acero   5.329688
10  pulseras    acero   4.732026
11   anillos    acero   4.034375
12    varios    acero   3.750000
13    aretes    acero   3.599405
14   cadenas    acero   2.362083
15     dijes    acero   2.185273

9. **Comparación de Márgenes de Ganancia:**
   - Comparar los márgenes de ganancia entre las joyas de `plata` y `acero` calculando la diferencia entre el `costo` y el `PVP`.