
1. **ImportaciÃ³n de Archivos:**
   - Importar los archivos limpios de plata y acero que se encuentran en la carpeta `data_migration/data/clean_files` en este notebook de Jupyter.
   - Verificar que los tipos de columna sean los apropiados y realizar las correcciones necesarias.

In [1]:
import pandas as pd
from typing import List

path_plata = "data/ventas_plata.xlsx"


ventas_plata = pd.read_excel(path_plata)

In [2]:

# FUNCTIONS
def get_sheet_names(file_path: str) -> List[str]:
    """
    Get the names of all sheets in an Excel file.

    Args:
    file_path (str): The path to the Excel file from which the sheet names are to be retrieved.

    Returns:
    List[str]: A list of strings, where each string is the name of a sheet in the Excel file.

    Functionality:
    - Reads an Excel file using pandas.
    - Retrieves the names of all sheets in the Excel file.
    """
    # Read the excel file using pandas
    xls = pd.ExcelFile(file_path)
    
    # Get the names of all the sheets in the excel file
    sheet_names = xls.sheet_names
    
    # Return the list of sheet names
    return sheet_names

#. aqui estoy guardando en un objeto llamado sheet_names los nombres de cada una de las spreadsheets

In [3]:

sheet_names = get_sheet_names(path_plata)
print("Sheet names:")
print(sheet_names)

Sheet names:
['anillos_plata', 'varios_plata', 'aretes_plata', 'sets_plata', 'pulseras_plata', 'dijes_plata', 'cadenas_plata', 'collares_plata', 'collares_varios_plata', 'juegos_piedras_plata', 'pc_piedras_plata']

In [4]:
# 3. Use a for loop to read spreadsheets in sheet_names and append them in a list
# Replace the word "inventario" in column names with "ingreso" to simplify consolidation
list_of_df = []
for s in sheet_names:
    print(f"Sheet Name: {s}")
    # Read sheet and add new column with sheet name
    df = pd.read_excel(path_plata, sheet_name=s)
    df["source"] = s
    
    # Append and print info
    list_of_df.append(df)
    print(f"Shape: {df.shape}")
    print(f"Column Names: {df.columns}\n")

Sheet Name: anillos_plata
Shape: (362, 188)
Column Names: Index([              'COD',               'NUM',               'DET',
       2023-03-20 00:00:00, 2023-03-23 00:00:00, 2023-03-28 00:00:00,
       2023-03-31 00:00:00, 2023-04-01 00:00:00, 2023-04-04 00:00:00,
       2023-04-12 00:00:00,
       ...
       2024-07-02 00:00:00, 2024-07-03 00:00:00, 2024-07-04 00:00:00,
       2024-07-06 00:00:00, 2024-07-13 00:00:00, 2024-07-15 00:00:00,
       2024-07-17 00:00:00, 2024-07-20 00:00:00, 2024-07-21 00:00:00,
                  'source'],
      dtype='object', length=188)

Sheet Name: varios_plata
Shape: (16, 21)
Column Names: Index([              'COD',               'NUM', 2023-03-15 00:00:00,
       2023-03-31 00:00:00, 2023-04-13 00:00:00, 2023-05-01 00:00:00,
       2023-05-30 00:00:00, 2023-06-05 00:00:00, 2023-08-04 00:00:00,
       2023-09-11 00:00:00, 2024-11-20 00:00:00, 2024-03-10 00:00:00,
       2024-03-28 00:00:00, 2023-06-29 00:00:00, 2023-11-29 00:00:00,
       2024-05-02 00:00:00, 2024-05-07 00:00:00, 2024-05-25 00:00:00,
       2024-06-27 00:00:00, 2024-07-05 00:00:00,            'source'],
      dtype='object')

Sheet Name: aretes_plata
Shape: (565, 402)
Column Names: Index([              'COD',               'NUM', 2023-03-15 00:00:00,
       2023-03-16 00:00:00, 2023-03-17 00:00:00, 2023-03-18 00:00:00,
       2023-03-20 00:00:00, 2023-03-21 00:00:00, 2023-03-22 00:00:00,
       2023-03-23 00:00:00,
       ...
       2024-07-12 00:00:00, 2024-07-13 00:00:00, 2024-07-15 00:00:00,
       2024-07-16 00:00:00, 2024-07-17 00:00:00, 2024-07-18 00:00:00,
       2024-07-19 00:00:00, 2024-07-20 00:00:00, 2024-07-21 00:00:00,
                  'source'],
      dtype='object', length=402)

Sheet Name: sets_plata
Shape: (306, 127)
Column Names: Index([              'COD',               'NUM', 2023-03-18 00:00:00,
       2023-03-25 00:00:00, 2023-04-01 00:00:00, 2023-04-03 00:00:00,
       2023-04-04 00:00:00, 2023-04-25 00:00:00, 2023-04-26 00:00:00,
       2024-04-27 00:00:00,
       ...
       2024-07-02 00:00:00, 2024-07-06 00:00:00, 2024-07-10 00:00:00,
       2024-07-11 00:00:00, 2024-07-12 00:00:00, 2024-07-19 00:00:00,
       2024-07-20 00:00:00,             'COD.1',      'Unnamed: 125',
                  'source'],
      dtype='object', length=127)

Sheet Name: pulseras_plata
Shape: (230, 185)
Column Names: Index([              'COD',               'NUM', 2023-03-17 00:00:00,
       2023-03-20 00:00:00, 2023-03-24 00:00:00, 2023-03-25 00:00:00,
       2023-03-30 00:00:00, 2023-03-31 00:00:00, 2023-04-01 00:00:00,
       2023-04-03 00:00:00,
       ...
       2024-06-25 00:00:00, 2024-06-27 00:00:00, 2024-07-03 00:00:00,
       2024-07-08 00:00:00, 2024-07-09 00:00:00, 2024-07-10 00:00:00,
       2024-07-14 00:00:00, 2024-07-15 00:00:00, 2024-07-19 00:00:00,
                  'source'],
      dtype='object', length=185)

Sheet Name: dijes_plata
Shape: (722, 278)
Column Names: Index([              'COD',               'NUM', 2023-03-16 00:00:00,
       2023-03-17 00:00:00, 2023-03-21 00:00:00, 2023-03-22 00:00:00,
       2023-03-23 00:00:00, 2023-03-27 00:00:00, 2023-04-01 00:00:00,
       2023-04-03 00:00:00,
       ...
       2024-07-10 00:00:00, 2024-07-12 00:00:00, 2024-07-13 00:00:00,
       2024-07-14 00:00:00, 2024-07-15 00:00:00, 2024-07-16 00:00:00,
       2024-07-17 00:00:00, 2024-07-18 00:00:00, 2024-07-19 00:00:00,
                  'source'],
      dtype='object', length=278)

Sheet Name: cadenas_plata
Shape: (200, 264)
Column Names: Index([              'COD',               'NUM', 2023-03-16 00:00:00,
       2023-03-17 00:00:00, 2023-03-21 00:00:00, 2023-03-23 00:00:00,
       2023-03-27 00:00:00, 2023-03-31 00:00:00, 2023-04-03 00:00:00,
       2023-04-04 00:00:00,
       ...
       2024-07-10 00:00:00, 2024-07-13 00:00:00, 2024-07-14 00:00:00,
       2024-07-15 00:00:00, 2024-07-17 00:00:00, 2024-07-18 00:00:00,
       2024-07-19 00:00:00,             'COD.1',      'Unnamed: 262',
                  'source'],
      dtype='object', length=264)

Sheet Name: collares_plata
Shape: (135, 67)
Column Names: Index([              'COD',               'NUM', 2023-03-21 00:00:00,
       2023-03-23 00:00:00, 2023-03-24 00:00:00, 2023-03-31 00:00:00,
       2023-04-19 00:00:00, 2023-04-21 00:00:00, 2023-04-24 00:00:00,
       2023-04-25 00:00:00, 2023-05-07 00:00:00, 2023-06-08 00:00:00,
       2023-06-17 00:00:00, 2023-06-22 00:00:00, 2023-06-29 00:00:00,
       2023-07-07 00:00:00, 2023-07-18 00:00:00, 2023-07-20 00:00:00,
       2023-08-02 00:00:00, 2023-08-07 00:00:00, 2023-08-25 00:00:00,
       2024-09-15 00:00:00, 2024-09-18 00:00:00, 2024-09-19 00:00:00,
       2024-09-30 00:00:00, 2024-10-28 00:00:00, 2024-11-19 00:00:00,
       2024-11-21 00:00:00, 2024-12-09 00:00:00, 2024-12-15 00:00:00,
       2024-12-19 00:00:00, 2024-12-20 00:00:00, 2023-12-21 00:00:00,
       2024-12-22 00:00:00, 2024-12-23 00:00:00, 2024-12-24 00:00:00,
       2024-01-18 00:00:00, 2024-01-23 00:00:00, 2024-01-24 00:00:00,
       2024-01-25 00:00:00, 2024-01-31 00:00:00, 2024-02-06 00:00:00,
       2024-02-19 00:00:00, 2024-02-21 00:00:00, 2024-02-24 00:00:00,
       2024-02-28 00:00:00, 2024-03-02 00:00:00, 2024-03-08 00:00:00,
       2024-03-19 00:00:00, 2024-03-22 00:00:00, 2024-03-30 00:00:00,
       2024-04-04 00:00:00, 2024-04-21 00:00:00, 2024-04-29 00:00:00,
       2024-05-09 00:00:00, 2024-05-10 00:00:00, 2024-05-23 00:00:00,
       2024-06-03 00:00:00, 2024-06-19 00:00:00, 2024-06-25 00:00:00,
       2024-06-26 00:00:00, 2024-07-03 00:00:00, 2024-07-05 00:00:00,
       2024-07-10 00:00:00, 2024-07-17 00:00:00, 2024-07-20 00:00:00,
                  'source'],
      dtype='object')

Sheet Name: collares_varios_plata
Shape: (29, 17)
Column Names: Index([              'COD',               'NUM', 2023-04-19 00:00:00,
       2023-06-07 00:00:00, 2023-06-13 00:00:00, 2023-06-19 00:00:00,
       2023-06-21 00:00:00, 2023-07-12 00:00:00, 2023-10-05 00:00:00,
       2023-11-13 00:00:00, 2023-12-15 00:00:00, 2024-01-14 00:00:00,
       2024-03-19 00:00:00, 2024-04-13 00:00:00, 2024-05-07 00:00:00,
       2024-07-04 00:00:00,            'source'],
      dtype='object')

Sheet Name: juegos_piedras_plata
Shape: (29, 11)
Column Names: Index([              'COD',               'NUM', 2023-05-22 00:00:00,
       2024-11-15 00:00:00, 2024-06-04 00:00:00, 2024-06-20 00:00:00,
       2024-07-11 00:00:00, 2024-07-16 00:00:00, 2024-07-18 00:00:00,
       2024-07-19 00:00:00,            'source'],
      dtype='object')

Sheet Name: pc_piedras_plata
Shape: (68, 290)
Column Names: Index([           'CODIGO',               'NUM', 2023-03-15 00:00:00,
       2023-03-17 00:00:00, 2023-03-21 00:00:00, 2023-03-24 00:00:00,
       2023-03-28 00:00:00, 2024-03-29 00:00:00, 2023-03-30 00:00:00,
       2023-03-31 00:00:00,
       ...
       2024-07-08 00:00:00, 2024-07-10 00:00:00, 2024-07-11 00:00:00,
       2024-07-13 00:00:00, 2024-07-15 00:00:00, 2024-07-16 00:00:00,
       2024-07-18 00:00:00, 2024-07-19 00:00:00, 2024-07-20 00:00:00,
                  'source'],
      dtype='object', length=290)

In [6]:
all = pd.concat(list_of_df)
print(f"Sheet Name: all")
print(f"Shape: {all.shape}")
all.columns

Sheet Name: all
Shape: (2662, 469)

Index([                  'COD',                   'NUM',
                         'DET',     2023-03-20 00:00:00,
           2023-03-23 00:00:00,     2023-03-28 00:00:00,
           2023-03-31 00:00:00,     2023-04-01 00:00:00,
           2023-04-04 00:00:00,     2023-04-12 00:00:00,
       ...
           2024-03-29 00:00:00,     2024-07-24 00:00:00,
           2024-10-09 00:00:00,     2024-10-14 00:00:00,
           2024-11-05 00:00:00,     2024-11-12 00:00:00,
           2024-04-01 00:00:00,     2024-06-02 00:00:00,
       '2024-06-15 00:00:00.1',     2024-07-27 00:00:00],
      dtype='object', length=469)

1. renombrar columnas para que no tengan la hora 
2. limpieza de filas cuya suma de ventas es igual a 0 antes de poner la informacion en list_of_df